/* Body styling */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #d3d3d3;
}

/* Calculator container */
.calculator {
    width: 329px; /* Width similar to the default PC calculator */
    border-radius: 10px;
    background-color: rgb(255, 247, 237);
    
}
.btn {
padding: 10px;
border: 10px;
margin: 5px;
width: 65px;
}
/* Display area */
.display {
    border: 2px solid black;
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-radius: 8px;
    height: 55px;
}

/* Button styling */
button {
    font-size: 10px;
    padding: 20px;
    border-radius: 8px;
}

button:hover {
    background-color: #f0f0f0;
}

button:active {
    background-color: #d3d3d3;
}
